.list {
  text-align: left;
  width: 600px;
  margin: auto;
}

ul {
  padding: 1px;  
  padding-bottom: 30px;
}

.divider{
  width:5px;
  height:auto;
  display:inline-block;
}

.container {
  /* position: absolute; */
  padding-top: 5px;
  width: 600px;
  margin: auto;
  display: inline-block;
}