<!-- Modal -->
<div class="modal fade" id="modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Digite a senha: </h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div>
                <label for="username">Username:</label>
                <br>
                <input type="text" id="username" name="username" value="supervisor" disabled>
                <br><br>
            </div>
            
            <div>
                <label for="pass">Password (8 characters minimum):</label>
                <br>
                <input type="password" id="pass" name="password"
                       minlength="8" required>
            </div>
        </div>
        <div class="modal-footer">
            <button (click)="checkPwd()">Sign In</button>
        </div>
      </div>
    </div>
  </div>