<div class="container" style="background-color: #e3f2fd; border:1px solid #cecece;">
  <div>
    <div *ngIf="currentTask.id" class="edit-form">
      <h4>Task</h4>
      <form>
        <div class="form-group">
          <label for="title">Title</label>
          <input
            type="text"
            class="form-control"
            id="title"
            [(ngModel)]="currentTask.title"
            name="title"
          />
        </div>
        <div class="form-group">
          <label for="description">Description</label>
          <input
            type="text"
            class="form-control"
            id="description"
            [(ngModel)]="currentTask.description"
            name="description"
          />
        </div>
  
        <div class="form-group">
          <label for="responsible">Responsible</label>
          <input
            type="text"
            class="form-control"
            id="responsible"
            [(ngModel)]="currentTask.responsible"
            name="responsible"
          />
        </div>
  
        <div class="form-group">
          <label for="email">Email</label>
          <input
            type="text"
            class="form-control"
            id="email"
            [(ngModel)]="currentTask.email"
            name="email"
          />
        </div>
  
        <div class="form-group">
          <label><strong>Complete:</strong></label>
          {{ currentTask.isComplete ? 'Yes' : 'No' }}
        </div>
  
        <!-- <div class="form-group">
          <label><strong>Status:</strong></label>
          {{ currentTask.published ? "Published" : "Pending" }}
        </div> -->
      </form>
  
      <button
        class="badge badge-primary mr-2"
        *ngIf="currentTask.published"
        (click)="updatePublished(false)"
      >
        UnPublish
      </button>
      <button
        *ngIf="!currentTask.published"
        class="badge badge-primary mr-2"
        (click)="updatePublished(true)"
      >
        Publish
      </button>
  
      <button class="badge badge-danger mr-2" (click)="deleteTask()">
        Delete
      </button>
  
      <button
        type="submit"
        class="badge badge-success mb-2"
        (click)="updateTask()"
      >
        Update
      </button>
      <p>{{ message }}</p>
    </div>
  
    <div *ngIf="!currentTask.id">
      <br />
      <p>Cannot access this Task...</p>
    </div>
  </div>
  
</div>

